# Pandas

In [1]:
import pandas as pd

In [4]:
l=[5,6,7,8,9,3]
print(l)
print(type(l))

[5, 6, 7, 8, 9, 3]
<class 'list'>

In [5]:
s=pd.Series(l)
print(s)
print(type(s))

0    5
1    6
2    7
3    8
4    9
5    3
dtype: int64
<class 'pandas.core.series.Series'>

In [2]:
s1=pd.Series([2,3,5,6.7,8.9,3.4,'3','w','y'])
s1
type(s1)

pandas.core.series.Series

In [7]:
s1=pd.Series([2,3,5,6.7,8.9,3.4,'3','w','y'])
s1.values

array([2, 3, 5, 6.7, 8.9, 3.4, '3', 'w', 'y'], dtype=object)

In [5]:
s2=pd.Series([5,5,6,7,6,6,6,8,7])
print(s2.unique())
s2.index

[5 6 7 8]

RangeIndex(start=0, stop=9, step=1)

In [10]:
s3=pd.Series([1,2,3,4], index=['a','b','c','d'])
s3

a    1
b    2
c    3
d    4
dtype: int64

In [11]:
v=[5,6,7,8,9]
i=[100,200,300,400,500]
s4=pd.Series(v,i)
s4
s4=pd.Series(i,v)
s4

5    100
6    200
7    300
8    400
9    500
dtype: int64

In [12]:
s4=pd.Series(index=i,data=v)
s4

100    5
200    6
300    7
400    8
500    9
dtype: int64

In [3]:
import numpy as np

n=np.random.random(5)
print(n)
n1=np.random.randint(0,10,5)
n1
s=pd.Series(n,n1)
s

[0.22600636 0.06207912 0.4380108  0.21842313 0.64435676]

7    0.226006
9    0.062079
9    0.438011
8    0.218423
2    0.644357
dtype: float64

In [16]:
d={'monkey':153 ,'rat':212 ,'cotton':334 ,'fan':98}
print("Dictionary is: ", d)

s=pd.Series(d)
s

Dictionary is:  {'monkey': 153, 'rat': 212, 'cotton': 334, 'fan': 98}

monkey    153
rat       212
cotton    334
fan        98
dtype: int64

In [18]:
s4[100]
s4[0]#0 index is absent

KeyError: 0

In [19]:
s4[0:4]

100    5
200    6
300    7
400    8
dtype: int64

In [20]:
s4.mean()

7.0

In [23]:
s4[0:6]

100    5
200    6
300    7
400    8
500    9
dtype: int64

In [26]:
dir(s4)

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__long__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_frame',
 '_align_series',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_binop',
 '_can_hold_na',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_convert',
 '_convert_dtypes',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_duplicated',
 '_find_valid_index',
 '_flags',
 '_from_mgr',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_index_resolvers',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_get_values_tuple',
 '_get_with',
 '_gotitem',
 '_hidden_attrs',
 '_index',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_cached',
 '_is_copy',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_item_cache',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_map_values',
 '_maybe_update_cacher',
 '_memory_usage',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_name',
 '_needs_reindex_multi',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_replace_single',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_labels',
 '_set_name',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'backfill',
 'between',
 'between_time',
 'bfill',
 'bool',
 'clip',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'interpolate',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'iteritems',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mad',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'set_flags',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

In [27]:
s4.median()

7.0

In [31]:
print(s4)
s4.max()

100    5
200    6
300    7
400    8
500    9
dtype: int64

9

In [29]:
s4.min()

5

In [38]:
s5=pd.Series([1,2,3,4],[100,200,300,400])
s5

100    1
200    2
300    3
400    4
dtype: int64

In [39]:
s4.add(s5)
# NaN not an element

100     6.0
200     8.0
300    10.0
400    12.0
500     NaN
dtype: float64

In [40]:
s5.subtract(s4)

100   -4.0
200   -4.0
300   -4.0
400   -4.0
500    NaN
dtype: float64

In [41]:
s4.subtract(s5)

100    4.0
200    4.0
300    4.0
400    4.0
500    NaN
dtype: float64

In [50]:
# Task 1: Make a dictionary to add name and marks of s students
n=int(input("Entere no of students: "))
students={}
for i in range(n):
    name=(input("enter name of student: "))
    mark=(input("enter mark of student: "))
    students[name]=mark

Entere no of students: 3
enter name of student: a
enter mark of student: 2
enter name of student: b
enter mark of student: 2
enter name of student: c
enter mark of student: 8

In [52]:
s=pd.Series(students)
s

a    2
b    2
c    8
dtype: object

In [57]:
s.min()
print("Name of student with minimum marks: ",s.min())

KeyError: '2'

In [54]:
s.max()

'8'

In [58]:
d1={'a':1,'b':2,'c':3}
s1=pd.Series(d1)
print(s1)

d2={'e':5,'f':6,'g':7}
s2=pd.Series(d2)
print(s2)

a    1
b    2
c    3
dtype: int64
e    5
f    6
g    7
dtype: int64

In [59]:
df = pd.DataFrame({'column 1':s1,'column':s2})
print(df)
print(type(df))

   column 1  column
a       1.0     NaN
b       2.0     NaN
c       3.0     NaN
e       NaN     5.0
f       NaN     6.0
g       NaN     7.0
<class 'pandas.core.frame.DataFrame'>

In [60]:
d3={'a':5,'b':6,"c":7}
s3=pd.Series(d3)
print(s3)

a    5
b    6
c    7
dtype: int64

In [61]:
df = pd.DataFrame({'col 1':s1, 'col 2':s3})
print(df)
print(type(df))

   col 1  col 2
a      1      5
b      2      6
c      3      7
<class 'pandas.core.frame.DataFrame'>

In [5]:
population_d = {'California': 3833, 'Texas': 8193,
                'New York': 6511, 'Florida': 5560, 'Ohio': 1135}  

population_d

{'California': 3833,
 'Texas': 8193,
 'New York': 6511,
 'Florida': 5560,
 'Ohio': 1135}

In [6]:
area_d = {'California': 423967, 'Texas': 695662, 'New York': 141297,   
             'Florida': 170312}

area_d

{'California': 423967, 'Texas': 695662, 'New York': 141297, 'Florida': 170312}

In [7]:
states=pd.DataFrame({'Population':population_d,"Area":area_d})
states

            Population      Area
California        3833  423967.0
Texas             8193  695662.0
New York          6511  141297.0
Florida           5560  170312.0
Ohio              1135       NaN

In [67]:
# to check summary of dataframe
states.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, California to Ohio
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Population  5 non-null      int64
 1   Area        5 non-null      int64
dtypes: int64(2)
memory usage: 120.0+ bytes

In [68]:
# to print any specific column
states.Area

California    423967
Texas         695662
New York      141297
Florida       170312
Ohio          149995
Name: Area, dtype: int64

In [69]:
states['Area']

California    423967
Texas         695662
New York      141297
Florida       170312
Ohio          149995
Name: Area, dtype: int64

In [70]:
## Dataframes using arrays

In [72]:
n=np.random.randint(0,10,(6,4))
n

array([[2, 6, 1, 7],
       [2, 6, 1, 4],
       [3, 0, 7, 4],
       [4, 5, 6, 2],
       [1, 6, 9, 1],
       [6, 2, 5, 8]])

In [74]:
d=pd.DataFrame(n)
d

   0  1  2  3
0  2  6  1  7
1  2  6  1  4
2  3  0  7  4
3  4  5  6  2
4  1  6  9  1
5  6  2  5  8

In [77]:
col=['A','B','C','D']
d=pd.DataFrame(n,columns=col)
d

   A  B  C  D
0  2  6  1  7
1  2  6  1  4
2  3  0  7  4
3  4  5  6  2
4  1  6  9  1
5  6  2  5  8

In [94]:
rows=['i','ii','iii','iv','v','vi']
d=pd.DataFrame(n,columns=col,index=rows)
d

     A  B  C  D
i    2  6  1  7
ii   2  6  1  4
iii  3  0  7  4
iv   4  5  6  2
v    1  6  9  1
vi   6  2  5  8

In [96]:
d[['A','D']]

     A
i    2
ii   2
iii  3
iv   4
v    1
vi   6

In [97]:
d[['A']]

     A
i    2
ii   2
iii  3
iv   4
v    1
vi   6

In [98]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, i to vi
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      int32
 1   B       6 non-null      int32
 2   C       6 non-null      int32
 3   D       6 non-null      int32
dtypes: int32(4)
memory usage: 144.0+ bytes

In [99]:
d.shape

(6, 4)

In [100]:
d.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [101]:
d.dtypes

A    int32
B    int32
C    int32
D    int32
dtype: object

In [102]:
data={'Animals': ['cat','cat','turtle','dog','dog','cat','turtle','cat','dog','dog'],
          'Age': [2.5,3,0.5,np.nan,5,2,4.5,np.nan,7,3], 
      'Visits' : [1,3,2,3,2,3,1,1,2,1], 
    'Priority' : ['y','y','n','y','n','n','n','y','n','n']}


labels=['a','b','c','d','e','f','g','h','i','j']
df=pd.DataFrame(data,index=labels)
df

  Animals  Age  Visits Priority
a     cat  2.5       1        y
b     cat  3.0       3        y
c  turtle  0.5       2        n
d     dog  NaN       3        y
e     dog  5.0       2        n
f     cat  2.0       3        n
g  turtle  4.5       1        n
h     cat  NaN       1        y
i     dog  7.0       2        n
j     dog  3.0       1        n

In [112]:
# print informations about df
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Animals   10 non-null     object
 1   Age       8 non-null      float64
 2   Visits    10 non-null     int64
 3   Priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

In [109]:
# print names of columns
df.columns

Index(['Animals', 'Age', 'Visits', 'Priority'], dtype='object')

In [107]:
# print datatyes of columnns
df.dtypes

Animals      object
Age         float64
Visits        int64
Priority     object
dtype: object

In [108]:
# print indexes
df.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

In [110]:
# print only values
df.values

array([['cat', 2.5, 1, 'y'],
       ['cat', 3.0, 3, 'y'],
       ['turtle', 0.5, 2, 'n'],
       ['dog', nan, 3, 'y'],
       ['dog', 5.0, 2, 'n'],
       ['cat', 2.0, 3, 'n'],
       ['turtle', 4.5, 1, 'n'],
       ['cat', nan, 1, 'y'],
       ['dog', 7.0, 2, 'n'],
       ['dog', 3.0, 1, 'n']], dtype=object)

In [111]:
# print unique enties of Animals column
df.Animals.unique()

array(['cat', 'turtle', 'dog'], dtype=object)

In [115]:
# check top 5 entries of DF (by default show 5 entries)
df.head()

  Animals  Age  Visits Priority
a     cat  2.5       1        y
b     cat  3.0       3        y
c  turtle  0.5       2        n
d     dog  NaN       3        y
e     dog  5.0       2        n

In [116]:
df.head(7)

  Animals  Age  Visits Priority
a     cat  2.5       1        y
b     cat  3.0       3        y
c  turtle  0.5       2        n
d     dog  NaN       3        y
e     dog  5.0       2        n
f     cat  2.0       3        n
g  turtle  4.5       1        n

In [117]:
# show last 5 entries
df.tail()

  Animals  Age  Visits Priority
f     cat  2.0       3        n
g  turtle  4.5       1        n
h     cat  NaN       1        y
i     dog  7.0       2        n
j     dog  3.0       1        n

In [119]:
# show random 5 entries
# have to give number in sample function always
df.sample(5)

  Animals  Age  Visits Priority
d     dog  NaN       3        y
h     cat  NaN       1        y
c  turtle  0.5       2        n
b     cat  3.0       3        y
f     cat  2.0       3        n