# PANDAS

In [2]:
import pandas as pd
import numpy as np

In [3]:
# Dictionary having list
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}

In [4]:
# List which will act as index
i=['i','ii','iii','iv']

In [5]:
# If we don't apply list i as index default indexes will be given to values
df=pd.DataFrame(dict)
df

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2          NaN          56.0         80.0
3         95.0           NaN         98.0

In [18]:
# Creating datafram using dictionay as values and list as index
df=pd.DataFrame(dict,index=i)
df

     First Score  Second Score  Third Score
i          100.0          30.0          NaN
ii          90.0          45.0         40.0
iii          NaN          56.0         80.0
iv          95.0           NaN         98.0

In [19]:
# Printing particular entry from datafram
df['Second Score'][1]

45.0

In [20]:
# Printing names of all rows
df.index

Index(['i', 'ii', 'iii', 'iv'], dtype='object')

In [29]:
# Printing entry of one row
df.loc['i']

First Score     100.0
Second Score     30.0
Third Score       NaN
Name: i, dtype: float64

In [22]:
# Printing names of all column
df.columns

Index(['First Score', 'Second Score', 'Third Score'], dtype='object')

In [23]:
# Printing entries of one column
df['Second Score']

i      30.0
ii     45.0
iii    56.0
iv      NaN
Name: Second Score, dtype: float64

In [25]:
df.shape

(4, 3)

In [30]:
# Import pandas as pd
import pandas as pd

In [ ]:
d={}

In [35]:
df['Second Score'].mean()

43.666666666666664

In [36]:
df['Second Score'].max()

56.0

In [40]:
df[df['Second Score']==df['Second Score'].max()]['First Score']

iii   NaN
Name: First Score, dtype: float64

In [10]:
# Function to get index where min value exist
print(df['Second Score'].argmax())
df.loc[df['Second Score'].argmax()]

2

First Score      NaN
Second Score    56.0
Third Score     80.0
Name: 2, dtype: float64